<h1>Página inicial - vendedor </h1>

<p>
  Bem vindo, <%= current_user.nome %>! <%= link_to "Sair", '/seller-logout'%>
</p>

<%= flash[:notice] %>	<br>

<%= link_to "Cadastrar um produto", new_product_path %>

<%= link_to "Cadastrar uma loja", new_store_path %>

<p>
  Suas vendas:
</p>

<p>
  Seus produtos:
</p>

<p>
  Suas lojas:
</p>