<!-- adicionado o estilo.css -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Cadastro de Loja Fisica</title>
</head>

<h1>Cadastro de loja fisica</h1>

<%= form_for @store do |f| %>

    <%= flash[:notice] %>

	<br>

    <%= f.label "Nome" %>
    <%= f.text_field :nome, required: true %>

    <br>

    <%= f.label "Telefone 1" %>
    <%= f.text_field :telefone1, required: true %>

    <br>

    <%= f.label "Telefone 2" %>
    <%= f.text_field :telefone2, required: true %>

    <br>

    <%= f.label "Endereco" %>
    <%= f.text_field :endereco, required: true %>

    <br>
            
    <%= f.label "Numero" %>
    <%= f.text_field :numero, required: true %>

    <br>
            
    <%= f.label "Cidade" %>
    <%= f.text_field :cidade, required: true %>

    <br>
            
    <%= f.label "Estado (apenas 2 caracteres)" %>
    <%= f.text_field :uf, required: true %>

    <br>

    <%= f.submit "Cadastrar" %>
<% end %>

<br>

<%= link_to "Voltar para página inicial", home_index_path %>
