	<!-- adicionado o estilo.css -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/estilo.css">
	<title>E-COMMERCE - LBD</title>
</head>

<h1>E-COMMERCE - LBD</h1>

<% if current_buyer %>
<!-- BRUNO: alterado de <p> para <h2> -->
<h2>
  Bem vindo, <%= current_buyer.nome %>!
</h2>

<%= flash[:notice] %>

	<br>

<%= link_to "Seus dados", edit_buyer_path(current_buyer) %>

<%= link_to "Carrinho", charts_path %>

<%= link_to "Acompanhe sua compra", purchases_path %>

<%= link_to "Sair", '/buyer-logout'%>

<% elsif current_seller %>

<!-- BRUNO: alterado de <p> para <h2> -->
<h2>
  Bem vindo, <%= current_seller.nome %>! <%= link_to "Sair", '/seller-logout'%>
</h2>

<%= flash[:notice] %>

<br>

<%= link_to "Cadastrar uma loja", new_store_path %>

<%= link_to "Veja suas lojas", stores_path(session[:seller_id]) %>

<br>

<%= link_to "Cadastrar um produto", new_seller_product_path %>

<%= link_to "Veja seus produtos", seller_products_path %>

<% else %>

<!-- BRUNO: alterado de <p> para <h2> -->
<h2>
  Bem vindo!
</h2>

<%= link_to "Login", '/buyer-login' %>

<br>

<%= link_to "Cadastre-se", new_buyer_path %>

<%= link_to "Sou vendedor", '/seller-login' %>

<% end %>

<br>

<%= link_to "Produtos", buyer_products_path %>