<!-- adicionado o estilo.css -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Carrinho</title>
</head>

<h1>Carrinho</h1>

<% if @charts.empty? %>
    <b>Carrinho vazio</b>
<% else %>
    <% @total_price = 0 %>

    <% @charts.each do |c| %>
        <% @product = Product.find(c.product_id) %>
        <% @total_price = @total_price + @product.precopromocional %>
        <div><b>Nome: </b><%= @product.nome %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Preco: </b><%= @product.precopromocional %></div>
        <!-- Quantidade: <%= c.quantidade %> -->

        <%= button_to "Retirar do carrinho", {:action => "destroy",
	    									 :id => c},
    										 :method => :delete, data: { confirm: "Tem certeza que deseja retirar do carrinho?"} %>
    <% end %>

    <br>
    <br>
    <b>Total: </b><%= @total_price %>

    <br>
    <%= button_to "Finalizar compra", {:controller => "purchases",
    											:action => "create",
    											:method => :post} %>
<% end %>

<br>

<%= link_to "Voltar para página inicial", home_index_path %>