<!-- adicionado o estilo.css -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Seus Dados</title>
</head>

<h1>Seus dados</h1>

<%= form_for @buyer, :html => {class:""} do |f| %>

    <%= flash[:notice] %>

	<br>

    <%= f.label "Nome" %>
    <%= f.text_field :nome, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Email" %>
    <%= f.text_field :email, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "CPF" %>
    <%= f.text_field :cpf, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "CNPJ (se for pessoa jurídica)" %>
    <%= f.text_field :cnpj %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Endereço" %>
    <%= f.text_field :endereco, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>
            
    <%= f.label "Número" %>
    <%= f.text_field :numero, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>
            
    <%= f.label "Complemento" %>
    <%= f.text_field :complemento %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "CEP" %>
    <%= f.text_field :cep, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>
            
    <%= f.label "Bairro" %>
    <%= f.text_field :bairro, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>
            
    <%= f.label "Cidade" %>
    <%= f.text_field :cidade, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>
            
    <%= f.label "Estado" %>
    <%= f.text_field :uf, required: true %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Telefone residencial" %>
    <%= f.text_field :telresidencial %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Telefone comercial" %>
    <%= f.text_field :telcomercial %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Telefone celular" %>
    <%= f.text_field :celular %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Senha" %>
    <%= f.password_field :password %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.label "Confirme sua senha" %>
    <%= f.password_field :password_confirmation %>
    
    <!-- BRUNO: Adicionado quebra de linha -->
    <br>

    <%= f.submit "Atualizar" %>
<% end %>

<br>

<%= link_to "Voltar para página inicial", home_index_path %>